$white: #ffffff;
$whiteish: #fefefe;
$grey: #656a6e;
$greyLight: #d9d9d9;
$greyLightest: #f6f6f6;
$greyDark: #3a4045;
$greyText: #838688;
$greyBg: #ededed;
$blue: #1676f3;
$medium-blue: #5496d4;
$light-blue: #5496d433;
$lightest-blue: #4eb2ec;
$pink: #ff00e5;
$default: #f5f5f5;
$primary: #1676f3;
$success: #198754;
$danger: #e8454d;
$info: #5496d4;
$warning: #ff9800;
$darkTheme: #34424e;
$successNotificateStatus: #24d421;
$failNotificateStatus: #ec3131;
$colorText: #000;
$userLabelText: #8c7979;

$inverse-grey: #9a959b;
$inverse-greyLight: #28282e;
$inverse-greyLightest: #090909;
$inverse-greyDark: #c5bfb4;
$inverse-greyText: #7c7b77;
$inverse-greyBg: #121212;
$inverse-blue: #e9890c;
$inverse-medium-blue: #a6692b;
$inverse-light-blue: #a6692bcc;
$inverse-lightest-blue: #b15313;
$inverse-pink: #00ff1a;
$inverse-default: #0a0a0a;
$inverse-primary: #e9890c;
$inverse-success: #e679ab;
$inverse-danger: #17ba52;
$inverse-info: #a6692b;
$inverse-warning: #00767f;
